# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

[Some of the popular languages that Data Scientists](https://colab.research.google.com/drive/1-Gdu_bdhuY4349Y5X-CCSc9Yn_x2BNPy#scrollTo=CR-ijz2CdiIw&line=1&uniqifier=1)

[Some of the commonly used libraries used by Data Scientists](https://colab.research.google.com/drive/1-Gdu_bdhuY4349Y5X-CCSc9Yn_x2BNPy#scrollTo=AwGxZPuAeata&line=1&uniqifier=1)

[Simple arithmetic expression to mutiply then add integers](https://colab.research.google.com/drive/1-Gdu_bdhuY4349Y5X-CCSc9Yn_x2BNPy#scrollTo=YWQynjB3T-gl&line=2&uniqifier=1)

Some of the popular languages that Data Scientists use are:
1.   Python
2.   R
3.   SQL

Some of the commonly used libraries used by Data Scientists include:
*   Pandas
*   NumPy
*   SciPy
*   TensorFlow
*   Matplotlib
*   PyTorch

| Data Science Tools |
----------------------
| Jupyter Lab        |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print("Hours:", hours)

Hours: 3.3333333333333335

## Author
Ivan Afanaskin